<!DOCTYPE html>
<% include ./partials/header %>
<h1 style="text-align:center"><u>About</u></h1><br><br>

<div id="aboutPage">
  <body>
    <p class="andale">
    	Our Fuel Delivery Management System will be used by a fuel delivery company.
      Our intent for this system is to provide a multiple user interface product which provides a simplistic, yet beneficial way for the user to manage their fuel needs.
    The software product will be designed for use by: an inventory manager, delivery person, business owner, and customers.

    </p>

  </body>
</div>
<div class = "footer" id="aboutFooter">
  <p>Copyright &copy; UA FUELS INC 2017</p>
</div>
