<!DOCTYPE html>
<% include ./partials/header %>
<h1>About</h1>
<style>
body {
   background-image: url("https://photos-6.dropbox.com/t/2/AAA4Sv3DuoQ19k3lQp4qqKPNIFW6K2VsH4J1Xp_NRpOiXg/12/665270286/jpeg/32x32/1/_/1/2/fuels-splash-gasoline-header-xl.jpg/EMah47YFGAQgAigC/fHj4v7B5UVbUXgXs7v_oZpJjsaCAN9Sn6acMpi1bo9M?size=2048x1536&size_mode=3");
    background-color: #ffffff;
	 background-repeat:no-repeat;
	 background-position:2% 110%;
}
</style>
<body>
<p class="andale"> 
	Our Fuel Delivery Management System will be used by a company that sells various types of fuel, and their customers. Our intent for this system is to provide 
a multiple interface product which provides a simplistic, yet beneficial way for the user to manage their inventory of fuel. This will provide a service for both the customer and the business owner. The software product will be designed to be used by an inventory manager,  a delivery man, and the company's customer base.

</p>
</body>

<% include ./partials/footer %>
