<!DOCTYPE html>
<% include ./partials/header %>

<h1 style="text-align:center"><u>Contact Us</u></h1><br><br>

<div id="contactPage">

	<body>
		<center>
			<p class="andale">Please feel contact us if you have any questions!<br><br> Email: fuelForLife@fuelinc.com</br></p>
			<p class="andale"> Phone: 1-800-245-FUELS</br></p>
		</center>
	</body>
</div>


<div class = "footer" id="aboutFooter">
  <p>Copyright &copy; UA FUELS INC 2017</p>
</div>
