<!DOCTYPE html>
<% include ./partials/header %>
<h1>Contact Us</h1>
<style>
body {
   background-image: url("https://photos-6.dropbox.com/t/2/AAA4Sv3DuoQ19k3lQp4qqKPNIFW6K2VsH4J1Xp_NRpOiXg/12/665270286/jpeg/32x32/1/_/1/2/fuels-splash-gasoline-header-xl.jpg/EMah47YFGAQgAigC/fHj4v7B5UVbUXgXs7v_oZpJjsaCAN9Sn6acMpi1bo9M?size=2048x1536&size_mode=3");
    background-color: #ffffff;
	 background-repeat:no-repeat;
	 background-position:2% 140%;
}
</style>


<body>
<p class="andale">Please feel contact us if you have any questions at<br> Email: fuelForLife@fuelinc.com</br></p>
<p class="andale">Or reach us by phone at <br> - 1800FuelLVR</br</p></body>

<% include ./partials/footer %>