<!DOCTYPE html>
<% include ./partials/header %>

<body>
  <body>
  <div class="orderSuccess">
    <h3>Order placed successfully!</h3>
    <a href="/logout">Logout</a>
    <br>
    <a href="/customer/order">Place Another Order?</a>


  </div>

      </body>
</html>
<% include ./partials/footer %>
