<!DOCTYPE html>
<% include ./partials/header %>

<body>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                 <h2>
                    <u>Delivery Details: </u>

                    <p align="right"><a href="/delivery" class="btn-lg btn-primary">Back</a></p>

                 </h2><br>

                 <h4><form action = "/customer" method="POST">
                    Date:  <input type="date" name="date"><br><br>

                    Time:  <font size="2"><i>(Optional)</i></font>  <input type="time" name="time"><br><br>

                    Address:<input type="text" size="30" name="address"><br><br>

                    City: <input type="text" size="20" name="city"><br><br>

                    State: <input type="" size="10" name="state"><br><br>

                    ZIP: <input type="text" size="5" name="zip"><br><br>

                    Type of Fuel: <select class="selectpicker" name="type">
                        <option>Oil</option>
                        <option>Propane</option>
                        <option>Gasoline</option>
                        </select><br><br>

                    <br><br>
                </h4>

             <button class="btn btn-lg btn-default btn-primary btn-block">Submit!</button>
            </form>

            </div>
        </div>
</body>

<% include ./partials/footer %>
