<!DOCTYPE html>

<% include ./partials/header %>

  <body>
    <div class="container">

        <h2>
        <u>Orders: </u>

        <p align="right"><a href="/delivery" class="btn btn-lg btn-primary">Back</a></p>

         </h2>
        <div class="row">
            <div class="col-lg-12">
                <div ng-controller="fuelController">
                  <table border=1>
                    <td><b>First Name</b></td>
                    <td><b>Last Name</b></td>
                	  <td><b>Date</b></td>
                    <td><b>Address</b></td>
                    <td><b>City</b></td>
                    <td><b>State</b></td>
                    <td><b>Zip</b></td>
                    <td><b>Type of Fuel</b></td>
                    <td><b>Amount</b></td>
                    <td><b>Price</td></b>
                    <td><b>Status</b></td>
                    <td><b>Change Status</b></td>

                	<tr ng-repeat="data in orderData | orderBy: ['-status','-dateTime']">
                    <td>{{ data.firstName }}</td>
                    <td>{{ data.lastName }}</td>
                    <td>{{ data.dateTime | date:'MM/dd/yyyy @ h:mma' }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.city }}</td>
                    <td>{{ data.state }}</td>
                    <td>{{ data.zip }}</td>
                    <td>{{ data.type }}</td>
                    <td ng-if="data.amount != 0">{{ data.amount }}</td>
                    <td ng-if="data.amount == 0"><input class="form-control" type="number" ng-model="data.amountEdit"></td>
                    <td ng-if="data.price != 0">{{ data.price }}</td>
                    <td ng-if="data.price == 0"><input class="form-control" type="number" ng-model="data.priceEdit"></td>
                    <td>{{ data.status }}</td>

                    <td  ng-if="data.status != 'Delivered'">  <a class="btn btn-primary"
                    id="pendingButton"  ng-click="updateStatus(data)"></a></td>
                    <td  ng-if="data.status == 'Delivered'"> <a class="btn btn-primary"
                    id="deliveredButton"></a></td>


                 	</tr>
               	 </table>
             	 </div>
            </div>
        </div>
      </body>
</html>

<% include ./partials/footer %>
