<!DOCTYPE html>
<% include ./partials/header %>

<h1><center>Delivery Driver Home</center></h1><br>


<div class="col-md-6 col-sm-6 hero-feature" align="center">
    <div class="thumbnail">
        <div class="caption">
            <h2>Enter a Fuel Delivery</h2>
            <p>
                <a href="/delivery/order" class="btn btn-primary">Go!</a>
            </p>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-6 hero-feature" align="center">
    <div class="thumbnail">
        <div class="caption">
            <h2>View Orders</h2>
            <p>
                <a href="/delivery/list" class="btn btn-primary">Go!</a>
            </p>
        </div>
    </div>
</div>

<% include ./partials/footer %>
