<!DOCTYPE html>
<% include ./partials/header %>

<body>

<div ng-controller="fuelController">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br>
        First Name: <input class="form-control" type="text" ng-model="firstName"/>
        Last Name:  <input class="form-control" type="text" ng-model="lastName"/>
        Date:       <input class="form-control" type="text" ng-model="date"/>
        Time:       <input class="form-control" type="text" ng-model="time"/>
        Address:    <input class="form-control" type="text" ng-model="address"/>
        City:       <input class="form-control" type="text" ng-model="city"/>
        State:      <input class="form-control" type="text" ng-model="state"/>
        Zip:        <input class="form-control" type="text" ng-model="zip"/>
        <br>
        Fuel Type:  <br><select class="selectpicker" ng-model="type">
                <option>Oil</option>
                <option>Propane</option>
                <option>Gasoline</option>
                   </select>
        <br><br>
        Amount:    <input class="form-control" type="text" ng-model="amount"/>
        Price:     <input class="form-control" type="text" ng-model="price"/>
        <br><br>
        <a href="#" class="btn btn-default"
        ng-click="postOrderFromDelivery()">Submit</a>

      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
