<% include ./partials/header %>

<body>
  <h1>HOMEPAGE</h1>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
            <div class="col-lg-12">
                <h2>I am a...</h2>
            </div>
        </div>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Customer</h3>
                        <p>
                            <a href="/customer" class="btn btn-primary">Press Here</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Delivery Driver</h3>
                        <p>
                            <a href="/delivery" class="btn btn-primary">Press Here</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Inventory Manager</h3>
                        <p>
                            <a href="/inventory" class="btn btn-primary">Press Here</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<% include ./partials/footer %>
