<!DOCTYPE html>
<% include ./partials/header %>

<body>
        <!-- Page Features -->
        <div class="row text-center" style="width: 90%; margin: 50px auto;">

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Customer</h2>
                        <p>
                            <a href="/customer" class="btn btn-primary">Go!</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Delivery Driver</h2>
                        <p>
                            <a href="/delivery" class="btn btn-primary">Go!</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Inventory Manager</h2>
                        <p>
                            <a href="/inventory" class="btn btn-primary">Go!</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Owner</h2>
                        <p>
                            <a href="/owner" class="btn btn-primary">Go!</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>


<% include ./partials/footer %>
