<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" href="../public/css/styles.css" rel="stylesheet"></script>

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="../public/js/angular.js"></script>

    <title>UA Fuels Inc.</title>
  
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        
        </div>
     
    </nav>

    <!-- Page Content -->
    <div class="container">

        <header class="jumbotron hero-spacer text-center" style="background-color:#ffffff">

             <p> <img src="http://i64.tinypic.com/opmkbo.png" alt="Logo" align="middle"  style="width:100 px;height:100px;"></p>

            <p> <h1><i> UA Fuel Inc.</i></h1></p><hr>
        </header>


        <div class="row">
            <div class="col-lg-12">
                 <h2>
                    <u>Current Inventory: </u>   

                    <p align="right"><a href="/inventorymang" class="btn-lg btn-primary">Back</a></p>

                 </h2><br>   

                    This page will contain the current inventory amounts for each fuel

            </div>
        </div>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                   <br><br><br><br><br> <p>Copyright &copy; UA FUELS INC 2017</p>
                </div>
            </div>
        </footer>

    </div>


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>