<!DOCTYPE html>
<html lang="en">
<head>
  <title>UOA Fuel Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lightgrey;">



<div class="container-fluid">

  <h1>
  	<center>
  		<p>
  			<img src="http://i64.tinypic.com/opmkbo.png" alt="Logo" align="middle"  style="width:125 px;height:125px;">
  		</p>
  		UA Fuels Inc.
  		<hr>
  	</center>
  </h1>

  </div>

</body>
</html>