<!DOCTYPE html>
<% include ./partials/header %>

<!-- <<<<<<< HEAD -->
<h1><center>Owner Dashboard<center></h1><br>

<div class="row" style="width: 90%; margin: 50px auto;">


     <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="thumbnailDriver">
								<p>Delivery Driver</p>
                  <p>
                      <a href="/delivery" class="btn btn-primary">Go!</a>
                  </p>

          </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="thumbnailInventory">
              <div class="caption">
                  <p>Inventory</p>
                  <p>
                      <a href="/inventory" class="btn btn-primary">Go!</a>
                  </p>
              </div>
          </div>
      </div>
			<div class="col-md-6 col-sm-6 col-xs-6">
          <div class="thumbnailOrders">
              <div class="caption">
                  <h1>Orders</h1>
									<p>Pending Orders</p>
                  <p>
                   <a href="/owner/pendingorders" class="btn btn-primary">Go!</a>
                  </p>
									<p>All Orders</p>
									<p>
                   <a href="/owner/orderlist" class="btn btn-primary">Go!</a>
                  </p>
              </div>
          </div>
      </div>
			<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="thumbnailOrders">
							<div class="caption">
									<h1>Report</h1>
									<p>View Sales and Profit Report</p>
									<p>
									 <a href="/owner/report" class="btn btn-primary">Go!</a>
									</p>
							</div>
					</div>
			</div>
</div>




<% include ./partials/footer %>
